**.docx diff=word
**.docx linguist-generated
**.doc diff=word
**.doc linguist-generated

**.png binary
**.png linguist-generated
**.jpg binary
**.jpg linguist-generated

**.ipynb filter=nbstripout
**.ipynb diff=ipynb
**.ipynb linguist-generated
