# IDE config roots:
**/.idea/
**/.vscode/

# JavaScript and TypeScript library sources and dependency locks:
**/node_modules/
**/package-lock.json

# C and C++ build folders: 
**/cmake-build-debug/
**/build/

# Website build public folder:
sem5/WEB-earthquake/public/

# Video demonstration files:
**.mp4

# Python virtual environments and caches:
**/venv/
**/__pycache__/
**/.ipynb_checkpoints/

# Machine learning course third party data files:
**/ML-*/*.csv
**/ML-*/*.json
**/ML-*/*.data

# LaTeX artifacts:
*.aux
*.log
*.gz
*.pdf

# 3D graphics objects and textures
*.obj
*.mtl
