.github
.vscode
.idea

**/__pycache__
venv

deploy/out
deploy/follow_the_drow/config

compare

library/cpp_core/build
library/build

*.py[cod]
*.egg-info

report

.gitattributes
.gitignore
Makefile
README.md
