.vscode
.idea

**/__pycache__
venv

deploy/out
deploy/follow_the_drow/config

compare/cache
library/follow_the_drow/include
library/follow_the_drow/*.so
library/cpp_core/build
library/build

report/*
!report/*.tex
!report/*.bib
!report/*.sty
!report/*.bst
!report/images

*.py[cod]
*.egg-info
