extends base

block header
    title Библиотека

block scripts
    script(src="pagescripts/lib.js")
    script(src="scripts/accounter.js")
    script(src="scripts/book_manager.js")
    if user.is_admin
        script(src="scripts/recovery.js")

block content
    div(class="row" style="height:20vh")
        div(class="col-2")
            if user.is_admin
                button(class="btn btn-sm btn-block btn-warning texteous" id="push") Архивировать
                button(class="btn btn-sm btn-block btn-danger texteous" id="pull") Восстановить
                button(class="btn btn-sm btn-block btn-success texteous" id="add" data-toggle="modal" data-target="#book_modal") Добавить
                include ./book_modal.pug
        div(class="col-8 my-auto")
            h1(class="text-center") Библиотека
        div(class="col-2")
            h5(class="text-center")= user.name
            button(class="btn btn-sm btn-block btn-primary texteous" id="reader" data-toggle="modal" data-target="#reader_modal") Читатель
            button(class="btn btn-sm btn-block btn-secondary texteous" id="logout") Выйти
            include ./user_modal.pug
    div(class="row" style="height:75vh; overflow-y: auto")
        div(class="col justify-content-center" id="librarian")
    div(class="row" style="height:5vh")
        form(class="form-inline")
            div(class="form-group")
                label(class="radio-inline" for="filter-none") Все
                input(type="radio" name="optradio" id="filter-none" checked)
            div(class="form-group")
                label(class="radio-inline" for="filter-available") В наличии
                input(type="radio" name="optradio" id="filter-available")
            div(class="form-group")
                label(class="radio-inline" for="filter-return-date") Скоро будут
                input(type="radio" name="optradio" id="filter-return-date")