id_rsa
id_rsa.pub

gadgets.txt

proj1/targets/target*
!proj1/targets/target*.c

proj1/xploits/xploit*
!proj1/xploits/xploit*.c
proj1/xploits/run-shellcode*
!proj1/xploits/run-shellcode*.c
proj1/xploits/shellcode.bin

proj1/fuzz/testcases
