html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        block header
            title Base HTML

        link(rel="icon" href="favicon.ico" type="image/x-icon")

        link(rel="stylesheet/less" type="text/css" href="../styles/custom.less")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.12.2/less.js")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")

    body(id="basic")
        - let button = "btn shadow-lg btn-sm btn-block ";

        div(class="container-fluid high-100-vh")
            block content

        script(src="scripts/general.js")
        block scripts
