extends base

block header
    title Вход

block scripts
    script(src="pagescripts/login.js")
    script(src="scripts/accounter.js")

block content
    div(class="row high-100vh")
        div(class="col-6 offset-3 my-auto")
            div(class="row justify-content-center")
                div(class="col")
                    h3(class="text-center") Войдите или зарегестрируйтесь
                    form
                        div(class="form-group row")
                            label(class="col-4" for="username") Имя пользователя
                            input(type="text" class="col-8 form-control" id="username" placeholder="Имя пользователя")
                            div(class="invalid-feedback") Имя пользователя не может быть пусто!
                        div(class="form-group row")
                            label(class="col-4" for="password") Пароль
                            input(type="password" class="col-8 form-control" id="password" placeholder="Пароль")
                            div(class="invalid-feedback") Пароль не может быть пуст!
                        div(class="form-group justify-content-center row h-heavy")
                            button(type="button" class="btn btn-primary align-self-center" id="signin" onclick="on_signin()") Регистрация
                            button(type="button" class="btn btn-primary align-self-center" id="login" onclick="on_login()") Вход
