extends base

block header
    title Not found!

block scripts
    script(src="./src/404.js")

block content
    div(class="row justify-content-center high-100vh")
        h1(class="text-center align-self-center")= cause